*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {

    main {
        display: flex;
        justify-content: center;

        .bulle-content{
            width: 90%;
            margin-top: 5%;
            border-radius: 13px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 3%;
            margin-left: 5%;
            background-color: white;
            margin-bottom: 2%;




            .title-container{
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.6%;

                .titre{
                    color: black;
                    line-height: 1.5rem;
                    font-size: 1.4rem;
                }

            }
            .description {
                color: darkgray;

            }

            .date-container {
                display: flex;
                justify-content: space-between;
                .date {
                    color: #8a9499;
                }

                .icon-date{
                    justify-content: end;
                    letter-spacing: 0.4rem;
                    cursor: pointer;
                }

            }

          

    }

 
}

}


